.container {
  width: 90%;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  border: 10px solid white;
  padding: 10px;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 500px;
  height: 500px;

}

body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #FFBE98;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 30%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.player1{
  background-color: #FEECE2;
 
}
.player2{
  background-color:#FFBE98;
}
